

.boxItem{
    padding:15px;
    width:20%;
    background-color:#333;
    border: 2px solid #D64045;
    margin: 5px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: #fff;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5)
}
.id{
    margin: 20px 0;
    padding:5px;
    background-color: #e33d33;
    color:#FFF;
    font-size:25px;
    border-radius:5px;
    display: flex;
    align-items: center;
}
.name{
    text-transform:capitalize;
    margin-bottom:15px;
    font-size: 20px;
}
.button{
    width:150px;
    height:40px;
    padding:8px;
    background-color:#fff;
    color:#333;
    margin-top: 30px;
    font-size: 20px;
    cursor:pointer;
    border:none;
    border-radius: 5px;
    text-align:center;
    line-height:20px;
    transition: all ease .2s;
}
.button:hover{
    background-color: #e33d33;
    color: #fff;
  
}
