.sobre{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}
.button{
    width:150px;
    height:40px;
    padding:8px;
    background-color:#e33d33;
    color:#FFF;
    margin-top: 30px;
    font-size: 20px;
    cursor:pointer;
    border:none;
    border-radius: 5px;
}